# Dependencies
node_modules/
.expo/
dist/
build/
web-build/

# Database
backend/expenses.db
backend/expenses.db-journal

# Environment variables
.env
backend/.env

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS Files
.DS_Store

# Misc
.watchmanconfig
.temp/
